
body {
	font-size:  20px;
  	font-family: "Kosugi Maru", sans-serif;
  	text-align: center
  }



.textbox {
 	height: 736px;
  	width: 414px;
  	border: 1px solid #000; 
  	text-align: left;
  	margin:0 auto;
  	background-color: skyblue;
  	float: middle;
  	transform: rotate(-30deg); /* Equal to rotateZ(45deg) translateX(300px) translateY(100px) */
}

.block1 {
	width: 250px;
	height: 736px;
	border: 1px solid #000; 
	float: left;
}




